@media (min-width: 700px) {
  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  #menu {
    display: none;
  }
nav a:hover {
  background-color: #555;
  color: #ffd700;
  transition: background-color 0.3s, color 0.3s;
}
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}