@media (min-width: 700px) {
  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  #menu {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}